@import './fonts';

@import './palette';

* { box-sizing: border-box }

html{
  font-size: 20px;
  scroll-behavior: smooth;
  scroll-padding-top: 3.75rem;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--text);
  background: var(--muted);
  font-family: var(--regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  pointer-events: none;
}

input, select, textarea, button {
  padding: 0;
  border: none;
  outline: none;
  resize: none;
  color: var(--white);
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: var(--text) !important;
  transition: background-color 500s ease-in-out 0s;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A5AAAD;
  font-weight: 400;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #A5AAAD;
  font-weight: 400;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #A5AAAD;
  font-weight: 400;
}
:-moz-placeholder { /* Firefox 18- */
  color: #A5AAAD;
  font-weight: 400;
}

.noselect {
  -webkit-tap-highlight-color:transparent;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: darken(#DCDDE4,5);
}

.App {
  width: 100%;
  display: grid;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  grid-template-rows: auto 1fr;
  grid-template-columns: 12rem 1fr;

  &.modal-open { overflow: hidden }

  * { z-index: 5 }

  .logo {
    @extend .noselect;
    cursor: pointer;
    pointer-events: all;
    transition: all .3s ease-in-out;
    &:hover { transform: scale(1.1) }
  }

}

@media all and (min-width: 320px) and (max-width: 720px) {

  .App {
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
  }

}
