.search-bar {

  .icon { display: none }

  .search-wrapper {
    display: flex;
    align-items: center;
  }

  .search-label{
    font-size: .8rem;
    font-weight: 600;
    padding: .5rem .75rem;
    border-right: var(--border);
  }

  .search-input {
    min-width: auto;
    font-weight: 500;
    padding: .5rem 0;
    font-size: .75rem;
    margin-left: 1rem;
    letter-spacing: 0.01rem;
    background: transparent;
    color: darken(#AAAEB1,1);
    &:focus {
      color: darken(#AAAEB1,5);
    }
  }

}


@media all and (min-width: 320px) and (max-width: 720px) {

  .search-bar {
    width: 100%;
    margin: 0 .75rem;
    border-radius: .25rem;
    background: darken(#FAFAFA, 8);

    &.sb-hidden { .icon { display: none } }

    &.sb-visible { margin: 0; .icon { display: flex } }

    .icon, .close { font-size: 1rem; margin-right: .5rem; }

    .search-label{ display: none }

    .search-input {
      width: 100%;
      font-weight: 800;
      margin-left: .5rem;
      color: var(--primary);
      &:focus { color: var(--dark) }
    }

  }



}
